@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skyline-animation {
    animation: scroll-left 20s linear infinite;
    width: 200%;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
